version: '3'

services:
    serv:
        restart: always
        image: fred1653/imageserv
        container_name: imageserv
        depends_on: 
            - postgres
        ports:
            - 80:8000
        links:
            - postgres
        volumes: 
            - ~/images:/app/images
        environment:
            MODULE_NAME: serv.main
            WEB_CONCURRENCY: 4
    postgres:
        restart: always
        image: postgres:13
        container_name: postgres
        expose:
            - 5432
        ports:
            - "5432:5432"
        volumes:
            - ~/postgres_data:/var/lib/postgresql
        environment:
            - POSTGRES_DB=postgres
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
